USE [master]
GO
/****** Object:  Database [SistemaGestionClienteDB]    Script Date: 25/11/2017 14:06:51 ******/
CREATE DATABASE [SistemaGestionClienteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaGestionClienteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SistemaGestionClienteDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SistemaGestionClienteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SistemaGestionClienteDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaGestionClienteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaGestionClienteDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/11/2017 14:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 25/11/2017 14:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CodigoCiudad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CodigoProvinciaFK] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ciudades] PRIMARY KEY CLUSTERED 
(
	[CodigoCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 25/11/2017 14:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[CodigoCliente] [nvarchar](11) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Contacto] [nvarchar](50) NOT NULL,
	[TipoCliente] [int] NULL,
	[CodigoZonaPK] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 25/11/2017 14:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[CodigoProvincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Provincias] PRIMARY KEY CLUSTERED 
(
	[CodigoProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 25/11/2017 14:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[CodigoSector] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CodigoCiudadFK] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sectores] PRIMARY KEY CLUSTERED 
(
	[CodigoSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 25/11/2017 14:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[CodigoZona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CodigoSectorFK] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Zonas] PRIMARY KEY CLUSTERED 
(
	[CodigoZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([CodigoCiudad], [Nombre], [CodigoProvinciaFK]) VALUES (1, N'Distrito Nacional', 5)
INSERT [dbo].[Ciudades] ([CodigoCiudad], [Nombre], [CodigoProvinciaFK]) VALUES (2, N'Azua de Compostela', 1)
INSERT [dbo].[Ciudades] ([CodigoCiudad], [Nombre], [CodigoProvinciaFK]) VALUES (3, N'Estebanía', 1)
GO
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
INSERT [dbo].[Clientes] ([CodigoCliente], [Nombre], [Direccion], [Telefono], [Email], [Contacto], [TipoCliente], [CodigoZonaPK], [Estado], [Apellido]) VALUES (N'00118632727', N'Jorge lis', N'C/ l esquina 30 # 40', N'8096162210', N'jorge@gmail.com', N'Jorge', 2, 15, 0, N'guzman')
INSERT [dbo].[Clientes] ([CodigoCliente], [Nombre], [Direccion], [Telefono], [Email], [Contacto], [TipoCliente], [CodigoZonaPK], [Estado], [Apellido]) VALUES (N'00118632728', N'Jorge Luis', N'C/ L esquina 30 ESTE', N'8498604425', N'Jorgeguzman2210@Gmail.com', N'Jorge Guzman', 2, 13, 1, N'Guzmán Saldaña')
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([CodigoProvincia], [Nombre]) VALUES (1, N'Azua')
INSERT [dbo].[Provincias] ([CodigoProvincia], [Nombre]) VALUES (2, N'Bahoruco')
INSERT [dbo].[Provincias] ([CodigoProvincia], [Nombre]) VALUES (3, N'Barahona')
SET IDENTITY_INSERT [dbo].[Provincias] OFF
SET IDENTITY_INSERT [dbo].[Sectores] ON 

INSERT [dbo].[Sectores] ([CodigoSector], [Nombre], [CodigoCiudadFK]) VALUES (1, N'Barreras', 2)
INSERT [dbo].[Sectores] ([CodigoSector], [Nombre], [CodigoCiudadFK]) VALUES (2, N'Barro Arriba', 2)
INSERT [dbo].[Sectores] ([CodigoSector], [Nombre], [CodigoCiudadFK]) VALUES (3, N'Clavellina', 2)
GO
SET IDENTITY_INSERT [dbo].[Sectores] OFF
SET IDENTITY_INSERT [dbo].[Zonas] ON 

INSERT [dbo].[Zonas] ([CodigoZona], [Nombre], [CodigoSectorFK]) VALUES (12, N'Zona Quisqueya', 229)
INSERT [dbo].[Zonas] ([CodigoZona], [Nombre], [CodigoSectorFK]) VALUES (13, N'Castellana STO. DGO.', 230)
INSERT [dbo].[Zonas] ([CodigoZona], [Nombre], [CodigoSectorFK]) VALUES (14, N'UNICARIBE', 231)
SET IDENTITY_INSERT [dbo].[Zonas] OFF
/****** Object:  Index [IX_CodigoProvinciaFK]    Script Date: 25/11/2017 14:06:52 ******/
CREATE NONCLUSTERED INDEX [IX_CodigoProvinciaFK] ON [dbo].[Ciudades]
(
	[CodigoProvinciaFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CodigoZonaPK]    Script Date: 25/11/2017 14:06:52 ******/
CREATE NONCLUSTERED INDEX [IX_CodigoZonaPK] ON [dbo].[Clientes]
(
	[CodigoZonaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CodigoCiudadFK]    Script Date: 25/11/2017 14:06:52 ******/
CREATE NONCLUSTERED INDEX [IX_CodigoCiudadFK] ON [dbo].[Sectores]
(
	[CodigoCiudadFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CodigoSectorFK]    Script Date: 25/11/2017 14:06:52 ******/
CREATE NONCLUSTERED INDEX [IX_CodigoSectorFK] ON [dbo].[Zonas]
(
	[CodigoSectorFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ciudades_dbo.Provincias_CodigoProvinciaFK] FOREIGN KEY([CodigoProvinciaFK])
REFERENCES [dbo].[Provincias] ([CodigoProvincia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_dbo.Ciudades_dbo.Provincias_CodigoProvinciaFK]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Zonas_CodigoZonaPK] FOREIGN KEY([CodigoZonaPK])
REFERENCES [dbo].[Zonas] ([CodigoZona])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Zonas_CodigoZonaPK]
GO
ALTER TABLE [dbo].[Sectores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sectores_dbo.Ciudades_CodigoCiudadFK] FOREIGN KEY([CodigoCiudadFK])
REFERENCES [dbo].[Ciudades] ([CodigoCiudad])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sectores] CHECK CONSTRAINT [FK_dbo.Sectores_dbo.Ciudades_CodigoCiudadFK]
GO
ALTER TABLE [dbo].[Zonas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zonas_dbo.Sectores_CodigoSectorFK] FOREIGN KEY([CodigoSectorFK])
REFERENCES [dbo].[Sectores] ([CodigoSector])
GO
ALTER TABLE [dbo].[Zonas] CHECK CONSTRAINT [FK_dbo.Zonas_dbo.Sectores_CodigoSectorFK]
GO
USE [master]
GO
